@import '../../../application/globals/colors.scss';
@import '../../../application/globals/fonts.scss';

.header {
    background-color: $white;
    position: relative;
    display: flex;
    top: 0;
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    align-items: center;

    .logo {
        display: flex;
        #nusantara {
            font-family: 'Playfair Display';
            font-size: 2rem;
            font-weight: 700;
        }
    
        #store {
            font-family: 'Playfair Display';
            font-size: 2rem;
            font-weight: 700;
            color: $yellow;
        }
    }

    Button {
        margin: 1rem;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: 600;
        color: $black;
        background-color: $white;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        box-shadow: none;
        border-radius: 1.5rem;

        &:hover {
            background-color: $yellow;
            color: $white;
            box-shadow: none;
        }
    }
}