@import '../../../application/globals/colors.scss';
@import '../../../application/globals/fonts.scss';

$breakpoint: 768px;

.feedback {
    height: fit-content;
    min-height: 78vh;
    display: flex;
    flex-direction: column;

    h1 {
        margin: auto;
    }

    .field {
        margin: auto;
        width: 70%;
    }

    Button {
        margin: auto;
        color: $black;
        background-color: $white;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        box-shadow: none;
        border-radius: 1.5rem;
        height: 3rem;
        text-decoration: underline;
        
        @media (max-width: $breakpoint) {
            height: 1.5rem;
            font-size: 0.5rem;
        }

        p {
            font-family: 'Montserrat';
            font-size: 1rem;
            font-weight: 600;

            @media (max-width: $breakpoint) {
                font-size: 0.7rem;
            }
        }

        &:hover {
            background-color: $yellow;
            color: $white;
            box-shadow: none;
        }
    }
}