@import '../../../application/globals/colors.scss';
@import '../../../application/globals/fonts.scss';

$breakpoint: 768px;

.gallery {
    border-radius: 1rem;
    width: 55vw;
    height: 60vh;
    margin: 1rem;

    @media (max-width: $breakpoint) {
        width: 100vw;
        height: 40vh;
        border-radius: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    img {
        width: 55vw;
        height: 60vh;
        border-radius: 1rem;
        object-fit: cover;

        @media (max-width: $breakpoint) {
            width: 100vw;
            height: 40vh;
            border-radius: 0;
        }
    }
}